@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  color: none;
  background: none;
}

/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: none;
}

.modal-container .modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1000%);
  transition: transform 0.4s ease-in-out;
  width: 400px;
  height: 400px;
  background-color: #e7f0f5;
  border-radius: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.modal-container .modal h2 {
  font-size: 2rem;
  color: #31393c;
  font-weight: 600;
}

.modal-container .modal .name {
  width: 180px;
  padding: 0.9rem 1rem;
  border: 2px solid #eee;
  color: #31393c;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  outline: none;
}

.modal-container .modal .name:focus {
  border-color: #c7c2c2;
}

.modal-container .modal .name::placeholder {
  color: #31393c;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.modal-container .modal .move-count {
  text-transform: uppercase;
}

.modal-container .modal .input-warning {
  border-color: red;
}

.modal-container .modal .input-warning::placeholder {
  color: red;
  letter-spacing: 0.1rem;
}

.modal-container .modal .btn {
  width: 180px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.9rem 1rem;
  color: #31393c;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 8px;
  background: #e7f0f5;
  box-shadow: 13px 13px 12px #dbe4e9, -13px -13px 12px #f3fcff;
}

.modal-container .modal .btn:hover {
  box-shadow: inset 13px 13px 12px #dbe4e9,inset  -13px -13px 12px #f3fcff;
}

.modal-container .modal .table-wrapper {
  position: relative;
  width: 90%;
  height: 70%;
}

.modal-container .modal .table-scroll {
  height: 100%;
  overflow: auto;
  margin-top: 25px;
}

.modal-container .modal .table-wrapper table {
  width: 100%;
  text-align: center;
}

.modal-container .modal table td {
  width: 50%;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
}

.modal-container .modal th:nth-of-type(1) {
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
  width: 50%;
}

.modal-container .modal th:nth-of-type(2) {
  position: absolute;
  top: 0;
  z-index: 2;
  left: 50%;
  width: 50%;
}

.modal-container .modal th {
  border-bottom: 2px solid black;
}

.show.modal-container {
  display: initial;
}

.show.modal-container .modal {
  transform: translate(-50%, -100%);
}

.game {
  width: 100vw;
  height: 100vh;
  background-color: #c5deec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game .game__board {
  width: 600px;
  height: 600px;
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 1rem;
  outline: none;
}

.game .tile {
  border-radius: 8px;
  background: #c5deec;
  box-shadow: 5px 5px 8px #b1c8d4, -5px -5px 8px #d9f4ff;
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  outline: none;
  height: 150px;
}

.game .tile.matched {
  border-radius: 8px;
  background: #75ffac;
  box-shadow: 5px 5px 8px #63d992, -5px -5px 8px #87ffc6;
}

.game .tile .tile__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .5s;
  transform-style: preserve-3d;
  outline: none;
}

.game .tile .tile__inner .tile__front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: url("question.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
}

.game .tile .tile__inner .tile__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.game .tile .tile__inner .tile__back img {
  width: 70%;
  height: 70%;
  outline: none;
}

.rotate {
  transform: rotateY(180deg);
}

@media screen and (max-width: 600px), (max-height: 600px) {
  .game .game__board {
    width: 300px;
    height: 300px;
    grid-template-rows: repeat(4, 75px);
  }
  .game .game__board .tile {
    height: 75px;
  }
  .modal-container .modal {
    transition: transform 0.4s ease-in-out;
    width: 80%;
    max-width: 350px;
    height: 320px;
    transform: translate(-50%, -150%);
  }
  .modal-container .modal .table-wrapper {
    position: relative;
    width: 90%;
    height: 50%;
  }
}

@media screen and (max-width: 320px), (max-height: 320px) {
  .game .game__board {
    width: 250px;
    height: 250px;
    grid-template-rows: repeat(4, 62.5px);
  }
  .game .game__board .tile {
    height: 62.5px;
  }
  .modal-container .modal {
    transition: transform 0.4s ease-in-out;
    width: 80%;
    height: 320px;
    transform: translate(-50%, -150%);
  }
  .modal-container .modal .table-wrapper {
    position: relative;
    width: 90%;
    height: 50%;
  }
}

/*# sourceMappingURL=style.css.map */