@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");

$bg-color: #c5deec;
$bg-modal: #e7f0f5;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: none;
  .modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1000%);
    transition: transform .4s ease-in-out;
    width: 400px;
    height: 400px;
    background-color: $bg-modal;
    border-radius: 1rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h2 {
      padding-top: 2rem;
      font-size: 2rem;
    }
    .btn {
      border: none;
      cursor: pointer;
      padding: 0.5rem 1rem;
      font-size: 2rem;
      font-weight: 600;
      border-radius: 28px;
      background: #e7f0f5;
      box-shadow: 5px 5px 10px #92979a, -5px -5px 10px #ffffff;
    }
  }
}
.show.modal-container{
  display: initial;
  .modal{
    transform: translate(-50%, -100%);
  }
}
.game {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .game__board {
    width: 600px;
    height: 600px;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  .tile {
    border-radius: 8px;
    background: #c5deec;
    box-shadow: 5px 5px 8px #b1c8d4, -5px -5px 8px #d9f4ff;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    .tile__inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      .tile__front {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        background: url("question.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .tile__back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 70%;
          height: 70%;
        }
      }
    }
  }
}
.rotate {
  transform: rotateY(180deg);
}

@media screen and (max-width: 600px) {
  .game {
    .game__board {
      width: 300px;
      height: 300px;
    }
  }
  .modal-container {
    .modal {
      transition: transform .4s ease-in-out;
      width: 80%;
      height: 200px;
      transform: translate(-50%, -150%);
    }
  }
}
